* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grid-gap: 20px;
}

.container{
	display: grid;
	grid-template-columns: auto 3fr;
	grid-template-rows: repeat(5, auto);
	grid-gap: var(--grid-gap);
}

.header, .footer {
	display: flex;
	height: 100px;
	width: 100vw;
	grid-column: 1/-1;
	justify-content: space-between;
	margin-right: 50px;
}

.header {
	height: auto;
}

.name {
	margin-left: 50px;
}

#about-me {
	display: flex;
	flex-direction: column;
	border: solid;
	border-color: black;
	justify-content: space-between;
}

#linkedIn {
	border-radius: 5px;
}

.skill {
	display: grid;
	grid-template-rows: 10% auto;
}

.skill ul {
	display: flex;
	justify-content: flex-start;
	text-indent: 15px;
	flex-wrap: wrap;
}

#link1, #link2 {
	margin-top: 15px;
	text-decoration: none;
}

.links {
	display: flex;
	/*justify-content: center;*/
}

.divider {
	margin-right: 3rem;
	margin-right: 3rem;
}

.contact-info {
	display: flex;
	margin-top: 10px;
	justify-content: center;
	align-content: center;
}

.skills {
	display: flex;
	justify-content: center;
}

.list-of-skills {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.linkedin {
	display: flex;
	margin-top: auto;
}

.main__content{
	display: grid;
	grid-template-rows: repeat(2, 1fr);	
	grid-gap: var(--grid-gap);

}

.main__right__sidebar{
	display: grid;
	grid-template-rows: repeat(3, 1fr);	
	grid-gap: var(--grid-gap);	
}

.main_left_sidebar{
	display: grid;
	grid-template-rows: repeat(2, 1fr);	
	grid-gap: var(--grid-gap);		
}


.project-nav {
	display: flex;
	grid-column: 1/-1;
	justify-content: space-around;
}

.links i {
	margin-left: 35px;
	margin-right: 35px;
}


.projects {
	display: flex;
	flex-direction: column;
	grid-column: 1/-1;
	justify-content: space-between; 
}

.course-pictures {
	display: flex;
	justify-content: space-between;
}

.hospital-app {
	display: flex;
	flex-direction: column;
}