@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    font: 700 16px 'Open Sans', sans-serif;
    color: black;
    background-color: beige;
}

.container {
}

.footer {
    color: black;
    border-top: solid;
    border-width: 5px;
    border-color: black;
}
.header {
    color: black;
    border-bottom: solid;
    border-color: black;
    border-width: 5px;
    font-size: 50px;
}

.name {
    font-size: 40px;
}

.bio {
	border-width: 5px;
	border-bottom: solid;
    font-style: italic;
}

#link1, #link2 {
    text-decoration: none;
}

.skills {
    border-bottom: solid;
    border-top: solid;
}

.list-of-skills {
    list-style-type: none;
    text-indent: 5px;
}

#picture {
    height: 300px;
    width: 190px;
    border-radius: 5px;
    flex-basis: 250px;
}

.dot {
    margin-top: 10%;
}

#projects {
    border-top: solid;
    border-bottom: solid;
    border-spacing: 100px;
    border-radius: 5px;   
}

.nav-bar {
    align-items: flex-end;
}

.skills-used {
    border-bottom: solid;
    font-style: italic;
}