* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grid-gap: 20px;
}

.container{
	display: grid;
	height: 100vh;
	grid-template-columns: 3fr;
	grid-template-rows: 70px auto 26% 50px;
	grid-gap: var(--grid-gap);
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: black; 
}

.header, .footer {
	display: flex;
	grid-column: 1/-1;
	justify-content: space-between;
}

.header {
	height: auto;
}

.name {
	margin-left: 50px;
}

#picture {
	width: 26.991rem;
	height: 18rem;
}

#about-me {
	grid-column: 1/-1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#linked-in {
}

.skill {
	display: grid;
	grid-template-rows: 10% auto;
}

.skill ul {
	display: flex;
	justify-content: flex-start;
	text-indent: 15px;
	flex-wrap: wrap;
}

#link1, #link2 {
	margin-top: 15px;
	text-decoration: none;
}

.links {
	display: flex;
}

.contact-info {
	display: flex;
    /*justify-content: space-around;*/
}

.skills {
	height: 25rem;
	flex-direction: column;
	display: flex;
	/*justify-content: center;*/
	/*align-items: stretch;*/
}

.skills-list {
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}


.bio {
	width: 30em;
	align-self: center;
}

.list-of-skills {
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.items {
	text-indent: 1.5rem;
}

.linkedin {
	display: flex;
	margin-top: auto;
	font-size: 200px;
}

.project-nav {
	display: flex;
	grid-column: 1/-1;
	justify-content: space-around;
}

.links i {
	margin-left: 35px;
	margin-right: 35px;
}

.projects {
	display: flex;
	flex-direction: column;
	grid-column: 1/-1;
	justify-content: space-between; 
}

.course-pictures {
	display: flex;
	justify-content: space-between;
}

.hospital-app {
	display: flex;
	flex-direction: column;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#linkedIn {
	margin-right: 1rem;
	margin-left: 3rem;
} 

#github {
	margin-right: 1rem;
}

.trigger {
	margin-right: 50%;
	background-color: black;
	color: lightgray;
	border: none;
	cursor: pointer;
}