@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    font: 700 16px 'Open Sans', sans-serif;
}

.container-home, .container-projects {
    color: black;
    background-color: #F0F8FF;
}

.header {
    background-color: black;
    border: solid;
    font-size: 50px;
}

.name {
    font-size: 40px;
    color: lightgray;
}

.footer {
    color: lightgray;
    background-color: black;
    border-color: black;
}



.bio {
    font-style: italic;
}

#link1, #link2 {
    text-decoration: none;
    color: lightgrey;
}

.list-of-skills {
    list-style-type: none;
    text-indent: 5px;
}
.container > header nav ul {
    display: none;
    left: -47px;
    position: absolute;
}

#picture {
   box-shadow: #cacaca 5px 5px 5px;
}

.items {
    list-style-type: none;
}

#linkedIn {
    font: 0;
}

#email {
    color: red;
    font-size: 0em;
}

#header-link {
    color: lightgray;
    margin-right: 20rem; 
    text-decoration: none;
}

#email {
    color: red;
}

.menu {
    background-color: black;
    color: lightgray;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    color: lightgray;
}

.dropdown-content {
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: darkgray;
}

.dropdown:hover .dropbtn {
    color: darkgray;
}

.about-me {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    color: lightgray;
    cursor: pointer;
}

.review {
    color: lightgray;
    background-color: #F0F8FF;
}

.modal-content {
    background-color: black;
    border-radius: 0.5rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.close-button {
    cursor: pointer;
    border-radius: 0.25rem;
    color: darkgray;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
    color: lightgray;
}

.next::after, .prev::after {
    background-color: white;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    opacity: 0.5;
}

.next:hover::after, .prev:hover::after {
    opacity: 1;
}

.prev::after {
    content: '<';
    left: 0;
}

.card {
    background-color: black;
    color: lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.description {
    background-color: black;
    color: lightgray;
    border: none;
}

.project-dropdown {
    color: lightgray;
}

.description-content {
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.description-content a {
    color: black;
    text-decoration: none;
}

.description-content a:active {
    background-color: darkgray;
}

.project-dropdown:active .dropbtn {
    color: darkgray;
}

.trigger {
    background-color: black;
    color: lightgray;
    cursor: pointer;
}